<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    #hide a Specifuc File

    <Files .env>
        order allow,deny
        Deny from all
    </Files>
    <Files .env.example>
        order allow,deny
        Deny from all
    </Files>
    <Files .gitattributes>
        order allow,deny
        Deny from all
    </Files>
    <Files .gitignore>
        order allow,deny
        Deny from all
    </Files>
    <Files artisan>
        order allow,deny
        Deny from all
    </Files>
</IfModule>
